.FeedbackInLanding {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}
.ImgFeedBack{
    width: 300px;
}
.FeedBackRow{

}
@media (max-width: 1000px) {
    .FeedbackInLanding .left{
        display: none;
    }
    .FeedbackInLanding .right{
        display: flex;
        justify-content: center;
    }


}
.FeedBackLabel{
    width: 400px;
}